@model List<Person>

@{
    ViewData["Title"] = "AllPets";
}

<h1>Index</h1>
<h2>Todos os pets agrupados por pessoa</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Quantidade de Pets
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QtdPet)
                </td>

            </tr>
        }
    </tbody>
</table>
