@model List<Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h2>Pessoas com pets</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
